.fc {
  font-family: "Inter", sans-serif;
}

.fc .fc-toolbar {
  background-color: #f3f4f6;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;

  @media screen and (max-width: 640px) {
    flex-direction: column;
  }
}

.fc .fc-toolbar-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f2937;
}

.fc .fc-button {
  background-color: #10b981;
  border: none;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
}

.fc .fc-button:focus {
  box-shadow: 0 0 0 3px rgba(16, 185, 129, 0.3);
  outline: none;
}

.fc .fc-daygrid-day {
  background-color: #ffffff;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
}

.fc .fc-daygrid-day-top {
  padding: 0.7rem;
}

.fc .fc-daygrid-day-number {
  color: #374151;
  font-weight: 500;
}

.fc .fc-day-today {
  background-color: #e6fffa !important;
}

.fc .fc-day-today .fc-daygrid-day-number {
  color: #10b981;
  font-weight: 600;
}

.fc .fc-col-header-cell-cushion {
  color: black;
}

.fc .fc-event {
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.fc .fc-event:hover {
  transform: translateY(-2px);
}
